main {
  padding-top: 90px;

  .container {
    width: 80%;
    margin: 0 auto;

    .betting {
      display: flex;
      justify-content: center;

      .sidebar {
        width: 30%;
        background: var(--sidebar-color);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .manual-auto {
          background: var(--primary-color);
          border-radius: 100px;
          padding: 5px;

          button {
            background: transparent;
            padding: 8px;
            width: 50%;
            border-radius: 100px;
          }

          button.active {
            background: var(--sidebar-color);
          }
        }

        .form {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .form-group {

            .label {
              display: flex;
              justify-content: space-between;
              color: #fff;
              font-weight: 600;
              margin-bottom: 5px;
            }

            .input-box {
              padding: 3px;
              box-shadow: 0 0 5px 1px #0003;
              display: flex;
              border-radius: 2px;

              input,
              select {
                width: 100%;
                background: var(--primary-color);
                outline: none;
                padding: 8px;
              }

              button {
                width: 30%;
                background: transparent;
              }

              button:hover {
                background: var(--second-color);
              }
            }
          }

          // .bets-number {

          // }
        }

        .bet {
          background: var(--main-color);
          padding: 8px;
          border-radius: 2px;
        }
      }

      .spinner {
        width: 70%;
        background: var(--primary-color);
        color: #fff;
      }
    }
  }
}

@media screen and (max-width:767px) {
  main {

    .container {
      width: 90%;

      .betting {
        flex-direction: column-reverse;
        gap: 20px;
        background: var(--primary-color);
        padding: 5%;

        .sidebar {
          width: 100%;
        }

        .spinner {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width:500px) {
  main {
    padding-top: 65px;

    .container {
      width: 100%;

      .betting {
        padding: 5%;

      }
    }
  }
}