:root {
  --main-color: #16e316;
  --primary-color: #0f212e;
  --second-color: #1a2c38;
  --sidebar-color: #15293A;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease;
}

body {
  background: url('/public/body-bg.png');
  ;
}

button,
input,
select {
  border: none;
  color: #fff;
  font-weight: 600;
}